header{

display: flex;
flex-direction: row;
justify-content: left;
align-items: center;
padding: 10px;
gap: 170px;
width: 1440px;
height: 195px;
background: #171D25;
flex: none;
order: 0;
flex-grow: 0;
}


.nav-btn{
    
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 20px;
gap: 10px;
position: relative;
width: 99px;
height: 34px;
background: #0056B9;
border-radius: 10px;
}
.control-btn btn{
    display: flex;
flex-direction: row;
justify-content: right;
align-items: right;
padding: 5px 20px;
gap: 10px;
position: relative;
width: 99px;
height: 34px;
background: #0056B9;
border-radius: 10px;
}

.logo{
   justify-content: left;

}

.Game{
    align-items: center;
    display: flex;
    justify-content: center;}


main{

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;
position: absolute;
width: 1440px;
height: 1844px;
background: #1B2939;
}
.counter{width:500px;
    height:300px;
}

footer{
 
}
    
